<!-- Device aloocation component template -->
<div class="device_allocation_form_wrapper">
    <h1>Device Allocation</h1>
    <div>
        <div class="device-allocation-form-div">
            <form [formGroup]="deviceallocation" (ngSubmit)="allocatedevice(deviceallocation)" #f="ngForm" novalidate id="deviceallocation">
                <div class="form-group" [ngClass]="{'has-error': deviceallocation.submitted}">
                    <label for="empName">Employee Name:</label>
                    <p-autoComplete [formControl]="deviceallocation.controls['empName']" [suggestions]="employeeNameList" [size]="30" [minLength]="1" placeholder="Select User" [dropdown]="true" (onDropdownClick)="handleDropdownClick($event)" [readonly]="isDisable ? true : null">
                    </p-autoComplete>
                </div>
                <div class="form-group" [ngClass]="{'has-error': deviceallocation.submitted && !deviceallocation.controls['empId'].valid}">
                    <label for="empId">Employee ID:</label>
                    <input type="text" class="form-control" [formControl]="deviceallocation.controls['empId']" required [readonly]="isDisable ? true : null" />
                    <p *ngIf="deviceallocation.submitted && deviceallocation.controls['empId'].hasError('required')" class="text-danger">Employee ID required</p>
                </div>
                <div class="form-group" [ngClass]="{'has-error': deviceallocation.submitted && !deviceallocation.controls['project'].valid}">
                    <label for="project">Project:</label>
                    <input type="text" class="form-control" [formControl]="deviceallocation.controls['project']" required [readonly]="isDisableFields ? true : null" />
                    <p *ngIf="deviceallocation.submitted && deviceallocation.controls['project'].hasError('required')" class="text-danger">Project Required</p>
                </div>
                <div class="form-group" [ngClass]="{'has-error': deviceallocation.submitted && !deviceallocation.controls['reportMangr'].valid}">
                    <label for="project">Reporting Manager:</label>
                    <input type="text" class="form-control" [formControl]="deviceallocation.controls['reportMangr']" required [readonly]="isDisableFields ? true : null" />
                    <p *ngIf="deviceallocation.submitted && deviceallocation.controls['reportMangr'].hasError('required')" class="text-danger">Reporting Manager Required</p>
                </div>
                <div class="form-group" [ngClass]="{'has-error': deviceallocation.submitted && !deviceallocation.controls['qbdeviceId'].valid}">
                    <label for="qbdeviceId">Device ID:</label>
                    <input type="text" class="form-control" [formControl]="deviceallocation.controls['qbdeviceId']" required readonly/>
                    <p *ngIf="deviceallocation.submitted && deviceallocation.controls['qbdeviceId'].hasError('required')" class="text-danger">Device ID Required</p>
                </div>
                <div class="form-group">
                    <label for="dateOfAllocation">Date Allocated:</label>
                    <datetime [hasClearButton]="true" [timepicker]="false" [(ngModel)]="dateCreated" [datepicker]="datepickerOptions" [formControl]="deviceallocation.controls['dateOfAllocation']"></datetime>
                    <p *ngIf="deviceallocation.submitted && deviceallocation.controls['dateOfAllocation'].hasError('required')" class="text-danger">Date Required</p>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-save" [value]="this.tableData.empName !== ''  && this.tableData.roleType === 3 ? 'Request Release' : 'Allocate'" [disabled]="buttonDisable ? true : null" />
                    <button *ngIf="this.tableData.empName === ''" type="button" (click)="clearFields(deviceallocation);" class="btn btn-save">Cancel</button>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" [formControl]="deviceallocation.controls['deviceId']" />
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" [formControl]="deviceallocation.controls['userId']" />
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" [formControl]="deviceallocation.controls['allocId']" />
                </div>
            </form>
        </div>
    </div>
</div>
