<!-- Admin Dashboard component template -->
<div class="admin-dashboard-wrapper">
    <h1>Dashboard - User</h1>
    <div>
        <h1>Hi !</h1>
        <nav>
            <ul>
                <li><a href="#">Search</a></li>
                <li><a href="#">Device Allocation</a></li>
                <li><a href="#">Report Damage</a></li>
                <li><a href="#">Account Settings</a></li>
            </ul>
        </nav>
        <article>
            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">
                    Device Count
                </div>
                <div class="panel-body" style="position:relative">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">
                    Cable Count
                </div>
                <div class="panel-body" style="position:relative">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">
                    Assigned Devices
                </div>
                <div class="panel-body" style="position:relative">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
