.accountsettings_form_wrapper {
    display: block;
    margin: 0 auto;
}

.invalid_password_msg {
    position: relative;
    top: -7px;
    margin: 0;
}

.btn-save {
    background: #e41d60;
    border: 0;
    padding: 7px 22px;
    color: #fff;
    font-size: 16px;
}

.btn-save:focus {
    outline: none;
    border: 0;
}

.text-danger {
    color: #ff0000;
}

.has-error .form-control {
    border-color: #ff0000;
}

@media (max-width: 1024px) {
    .login_accountsettings_wrapper {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .login_accountsettings_wrapper {
        width: 75%;
    }
}

@media (max-width: 480px) {
    .login_accountsettings_wrapper {
        width: 100%;
    }
    .login_accountsettings_wrapper form {
        padding: 0 15px;
    }
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.account-settings-form-div {
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-left: 170px;
    overflow: hidden;
}
