/** Admin Dashboard Component Styles */
.dm_link {
	cursor: pointer;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

h1 {
	margin-top: 0;
}