<!-- Admin Dashboard component template -->
<div class="admin-dashboard-wrapper">
    <h1>Dashboard - Admin</h1>
    <div>
        <!-- <h2>Hi {{userName}}!</h2> -->
        <article>
            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">
                    Device Count
                </div>
                <div class="panel-body" style="position:relative">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">
                    Cable Count
                </div>
                <div class="panel-body" style="position:relative">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
